@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Kadwa:wght@400;700&family=Montserrat:wght@100;200;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Montserrat:wght@100;200;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  scrollbar-width: 0;
}
@layer components {
  body {
    @apply bg-[#151515];
  }
  .top-nav {
    @apply text-white flex flex-row  w-full justify-between px-20 sm:px-10 py-4 items-center sticky top-0 backdrop-blur-md h-[10vh];
  }
  /* .top-nav-links a.active {
    @apply p-1;
    border-bottom: white solid 1px;
  } */
  .side-nav {
    @apply w-2/3;
  }

  .side-nav a {
    @apply m-5;
  }

  hr {
    @apply bg-white w-full;
  }
  .creative-fee,
  .web-fee {
    @apply mt-10 flex flex-col mx-4 px-8 sm:px-4  h-auto justify-between py-10 w-[380px]  sm:w-full rounded-2xl text-left;
  }
  .price {
    @apply flex w-full justify-around items-center py-5;
  }
  .course-name {
    @apply text-xl w-5/6 p-1 py-2  rounded-xl font-extralight sm:w-4/5 text-center;
  }
  .discount {
    @apply text-4xl font-bold;
  }
  .slashed {
    @apply line-through font-normal;
  }
  .course-features {
    @apply list-image-checkmark flex flex-col text-[10px] justify-between;
  }
  .course-features li {
    @apply py-1;
  }
  .Register-button {
    @apply w-full text-center mr-3 mt-5 py-3 rounded-xl text-sm;
  }
}
